<!-- <h1>This is the about page</h1> -->

<!-- <div class="row">
	<div class="cols-md-6">
		<div ui-view="about1"></div>
	</div>
	<div class="cols-md-6">
		<div ui-view="about2"></div>
	</div>
</div> -->

<div class="container">
	<div class="row-fluid">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
			<a class="navbar-brand" ui-sref=".home1">AngularUI Router1</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a ui-sref=".home1">Home1</a></li>
				<li><a ui-sref=".about1">About1</a></li>
			</ul>
		</nav>
		<div ui-view></div>
	</div>
</div>