<div class="container">
	<div class="row-fluid">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
			<a class="navbar-brand" ui-sref=".home1">AngularUI Router1</a>
			</div>
			<ul class="nav navbar-nav" ng-controller="NavBarCtrl">
				<li ng-class="{active : isStateActive('home.home1')}"><a ui-sref=".home1">Home1</a></li>
				<li ng-class="{active : isStateActive('home.about1')}"><a ui-sref=".about1">About1</a></li>
			</ul>
		</nav>
		<div ui-view></div>
	</div>
</div>
<!-- <div class="jumbotron text-center">
    <h1>The Homey Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>

    <button ui-sref=".location">Location</button>   
    <button ui-sref=".services">Services</button>   

    <div ui-view></div> 
</div> 
</div> -->